<section class="app posts">
  <div class="w-container tabpage">
    <div class="flex">
    <h2 class="heading decoration">App</h2>
      <p class="description">自作したアプリの紹介をします。</p>
    </div>
    <span>最新情報</span>
    <div class="posts-container">
      <article class="post">
        <%= link_to "#" do %>
          <figure>
            <%= image_tag("twitter.jpg",alt:"",width:"1000",height:"750")%>
          </figure>
          <h3>ツイートを取得</h3>
          <p>取得したいIDを入力すると取得してくれるアプリです。オプションで出力先や取得内容を変更出来ます。</p>
        <% end %>
      </article>

      <article class="post">
        <%= link_to "#" do %>
          <figure>
            <%= image_tag("news01.jpg",alt:"",width:"1000",height:"750")%>
          </figure>
          <h3>卓上ランタン</h3>
          <p>手元に灯りが欲しいときに、便利でかわいい卓上ランタンです。</p>
        <% end %>
      </article>

      <article class="post">
        <%= link_to "#" do %>
          <figure>
            <%= image_tag("news01.jpg",alt:"",width:"1000",height:"750")%>
          </figure>
          <h3>冊子印刷</h3>
          <p>スタンダードプランにも手軽な冊子印刷が登場しました。</p>
        <% end %>
      </article>

      <article class="post">
        <%= link_to "#" do %>
          <figure>
            <%= image_tag("news01.jpg",alt:"",width:"1000",height:"750")%>
          </figure>
          <h3>マグネット</h3>
          <p>メモやアイデアを貼り出しておくなら、かわいいマグネットがおすすめです。</p>
        <% end %>
      </article>

      <article class="post">
        <%= link_to "#" do %>
          <figure>
            <%= image_tag("news01.jpg",alt:"",width:"1000",height:"750")%>
          </figure>
          <h3>ビジネスノート</h3>
          <p>書き心地や開きやすさにこだわった、ビジネス用のノートたちを紹介します。</p>
        <% end %>
      </article>

      <article class="post">
        <%= link_to "#" do %>
          <figure>
            <%= image_tag("news01.jpg",alt:"",width:"1000",height:"750")%>
          </figure>
          <h3>ボールペン</h3>
          <p>スタイリッシュなボールペンで仕事環境の雰囲気を変えてみました。</p>
        <% end %>
      </article>

    </div>
  </div>
</section>
