<p id="notice"><%= notice %></p>

<h1>ブログツリー</h1>
<h1>ツリー</h1>
<li class="sidecontents"><%= link_to 'Yahoo!', "https://www.yahoo.co.jp/" %></li>
<li class="sidecontents"><%= link_to 'Top', root_path %></li>
<li class="sidecontents"><%= link_to 'New Blog', new_blog_path %></li>
<li class="sidecontents">名前：<input type="text" name="yourname"></li>
<td><%= link_to 'Show', blog %></td>
