<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/01367b573e.js" crossorigin="anonymous"></script>

    <header class="header">
      <div class="header-container w-container">
        <div class="site">
          <%= link_to image_tag("home.svg",size:"36x36", alt: "Webapp"),root_path%> 
        </div>

        <button class="menubtn">
          <i class="fas fa-search"></i>
          <span class="sr-only">SEARCH</span>
        </button>
        <button class="menubtn">
          <i class="fas fa-shopping-cart"></i>
          <span class="sr-only">CART</span>
        </button>
        <button class="menubtn">
          <i class="fas fa-sign-in-alt"></i>
          <span class="sr-only">SIGNIN</span>
        </button>
        <button class="menubtn">
          <i class="fas fa-bars"></i>
          <span class="sr-only">MENU</span>
        </button>
      </div>
    </header>
  </head>

  <article>

    <%
=begin%>
 <div class="sidebar">
        <li class="sidecontents"><%= link_to 'Yahoo!', "https://www.yahoo.co.jp/" %></li>
        <li class="sidecontents"><%= link_to 'Top', root_path %></li>
        <li class="sidecontents"><%= link_to 'New Blog', new_blog_path %></li>
        <li class="sidecontents"><%= link_to 'ページだよ', index2_path %></li>
    </div>  
<%
=end%>

    <div class="main">
        <%= yield %>
    </div>
    
  </article>


</html>
